body{
    color: white;
    margin: no;
    font-size: large;
}
    
    


.brdr-left{
    border-left: 5px solid chartreuse;
    font-family: 'Abril Fatface', cursive;
    
font-family: 'Cormorant', serif;
font-family: 'Crimson Pro', serif;
font-family: 'EB Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;
}
.frst-hd{
    color: black;
}
.missn-22{
  color: darkmagenta;
}
.para-align{
    text-align: justify;
    color: black;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-top: 30px;
}
.half-width img{
    padding-bottom: 10%;
    width: 60%;}
.contact-button{
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px 20px;
}
.banner-frst{background-color: mediumaquamarine;
    
background-color: salmon;
  border-radius: 10px;
}

.p-color{
    color: black;
    text-align: justify;
}
.scroll{
    color: black;
}
.head-cntr{
    text-align: center;
    color: black;
}
.my-msn-22{
    color: black;

}
.year{
    color: magenta;
}
.head-cntr{
    text-align: center;
}

.flexible{
    display: flex;
}
.box-1{
    box-shadow: 10px 10px 25px cadetblue;
    background-color: darkkhaki;
    border-radius: 20px;
    margin: 10px;
}
.box-2{
    box-shadow: 10px 10px 25px  dimgray;
    background-color: hotpink;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
}
.box-3{
    box-shadow: 10px 10px 25px rosybrown;
    background-color: slateblue;
    border-radius: 20px;
    margin: 10px;
    padding: 20px;
    
}
.img{
    height: 180px;
    width: 150px;
}
.trd-sec-bg{
    background-color: cadetblue;
    padding-top: 60px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.frth-sec-bg{
    background-color: orchid;
   padding-top: 60px;
   border-radius: 10px;
    
}
.yr{
    color: tomato;
}

.imag-width{
    width: 50%;
    border-radius: 10px;
}
.bonus-add{
    background-color: cornflowerblue;
    padding-top: 60px;
    border-radius: 10px;
}
footer div{
    text-align: center;
    background-color: black;
    padding-top: 10px;
    border-radius: 10px;
}
.img-pad{
    padding-left: 10px;
}
.no-limit{
    margin-top: 70px;

}
.mar-left{
    margin-left: 100px;
    
}