body{
    color: white;
    margin: 0;
    font-family: 'Abril Fatface', cursive;
font-family: 'Cormorant', serif;
font-family: 'Crimson Pro', serif;
font-family: 'EB Garamond', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Yeseva One', cursive;}
#vl{
    border-left: 6px solid green;
    height: 95px;
    padding: 10px;
    border-radius: 3px;
    margin: 0 ;
   align-items: center;
}
.missn-22{
    color: cyan;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-top: 30px;
}
.half-width img{
    padding-bottom: 60%;
    width: 60%;}
.contact-button{
    text-decoration: none;
    background-color: purple;
    color: white;
    font-weight: 400;
    border-radius: 5px;
    padding: 5px 20px;
}
.banner-frst{
    background-image: url(./images/modern-futuristic-sci-fi-background.jpg);
    padding-bottom: 10px;
    
  
}

.p-color{
    color: black;
    text-align: center;
}
.my-msn-22{
    color: black;
}
.year{
    color: magenta;
}
#centr{
    text-align: center;
}
.flexible{
    display: flex;
}
.box-1{
    box-shadow: 10px 10px 25px cadetblue;
    background-color: darkkhaki;
}
.box-2{
    box-shadow: 10px 10px 25px  dimgray;
    background-color: hotpink;
}
.box-3{
    box-shadow: 10px 10px 25px rosybrown;
    background-color: slateblue;
}